.columncontent {
  margin-bottom: 120px;

  @include media-query(phone, max){
    margin-bottom: 60px;
  }

  &__inner {
    max-width:1230px;
  }

  .column {
    margin-left: 57px;
    margin-right: 57px;

    @include media-query(phone, max){
      margin-left: 0;
      margin-right: 0;
    }

    &__image {
      @include media-query(phone, max){
        width: 100%;
        height: 250px;
      }

      &:after {
        @include media-query(phone, max){
          content: none;
        }
      }
    }
  }
}

.locations {
  margin: 120px 0 60px;

  @include media-query(phone, max){
    margin: 60px 0;
  }

  &__inner {
    max-width:1285px;
  }

  .column {
    margin-left: 57px;
    margin-right: 57px;

    @include media-query(phone, max){
      margin-left: 0;
      margin-right: 0;
    }
  }

  .map {
    width: 640px;

    @include media-query(phone, max){
      margin-top: 40px;
    }
  }
}

.footnote {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 69px;

  @include media-query(phone, max){
    padding-top: 20px;
  }

  svg {
    width: 60px;
    margin-right: 24px;
  }

  li {
    margin: 0;
  }
}

.founders {
  background:#f3f3f3;
  padding: 190px 0 119px;

  @include media-query(phone, max){
    padding: 60px 0;
  }

  h2 {
    font-family: $secondaryfont;
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 20px;

    @include media-query(phone, max){
      font-size: 25px;
      line-height: 33px;
    }
  }

  &__inner{
    max-width:1140px;
  }

  .columns {
    background: $white;

    .column {
      &--padding {
        padding: 81px 94px 81px 0; 

        @include media-query(tablet, max){
          margin-left: 40px;
        }

        @include media-query(phone, max){
          padding: 40px 20px; 
          margin-left: 0;
        }
      }

      @include media-query(phone, max){
        margin: 0;
      }

      img {
        width: 550px;
        margin: 0;
        position: relative;
        left: -169px;
        top: -72px;
        max-width: none;

        @include media-query(tablet, max){
          position: static;
          width: auto;
          max-width: 100%;
        }
      }
    }
  }
}