.footer {
  &__inner {
    max-width: 900px;
  }

  &__content {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-query(phone, max){
      flex-direction: column;
      padding: 40px 0;
    }
  }

  &__logo {
    display: block;
    width: 290px;

    @include media-query(phone, max){
      width: 190px;
      margin-bottom: 30px;
    }

    svg {
      display: block;
    }
  }

  &__social {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 460px;
    margin: 0;
    margin-left: auto;

    @include media-query(phone, max){
      width: 100%;
    }

    li {
      @include clearlist();
      margin: 0;

      a{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-width: 40px;
        min-height: 40px;

        svg {
          display: block;
          width: auto;
          height: 16px;
          fill: #747474;
          transition: all 0.3s ease;
        }

        &:hover{
          svg {
            transform: translate(0, -25px);
          }

          .line {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
          }

          .label {
            opacity: 1;
            transform: translate(-50%, 15px);
          }
        }

        &.email svg {
          height: 15px;
        }

        .line {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 15px;
          height: 2px;
          background-color: #747474;
          opacity: 0;
          transform: translate(-50%, -50%) scale(0);
          pointer-events: none;
          transition: all 0.3s ease;
        }

        .label {
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 10px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: .05em;
          color: #636363;
          white-space: nowrap;
          opacity: 0;
          transform: translate(-50%, -50%);
          pointer-events: none;
          transition: all 0.3s ease;
        }
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 25px;
    border-top: 1px solid #d7d7d7;

    p {
      margin: 0;
      font-size: 12px;
      line-height: 1;
      color: #747474;

      @include media-query(phone, max){
        font-size: 10px;
      }
    }
  }
}