.banner .header {
  background: none;
  padding-top: 45px;

  @include media-query(phone, max){
    padding-top: 20px;
  }

  .header__navigation li a {
    color: $white;
  }

  svg {
    width: 205px;

    @include media-query(phone, max){
      width: 150px;
    }
  }

  .header__hamburger {
    &:after, &:before, span {
      background: $white;
    }
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  padding-top:20px;
  overflow: hidden;
  height: 60px;
  background: $white;

  &__logo{
    display: block;
    width: 202px;

    .logo-a,
    .logo-b {
      fill: $white;
    }
  }

  &__inner {
    display: flex;
    max-width: 1200px;
    align-items: center;

    @include media-query(phone, max){
      padding: 0 30px;
    }
  }

  svg {
    width: 58px;
  }

  &__navigation {
    margin-left: auto;
    display: flex;
    width: 100%;
    align-content: center;

    li {
      @include clearlist();
      margin: 0;
      margin-left: 5%;
      
      @include media-query(phone, max){
        display: none;
      }

      &:first-child {
        margin-left: auto;
      }

      &:last-child {
        @include media-query(phone, max){
          display: block;
          margin-left: auto;
        }
      }

      a {
        font-size: 12px;
        text-transform: uppercase;
        color: $black;
        font-weight: 400;
      }
    }
  }

  &__hamburger {
    position: relative;
    margin-top: 4px;
    display: block;
    width: 26px;
    height: 19px;

    @include media-query(phone, max){
      margin-top: 0px;
    }

    &:after, &:before, span {
      content: '';
      display: block;
      width: 26px;
      height: 2px;
      border-radius: 2px;
      background-color: $black;
      overflow: hidden;
      position: absolute;
      top:0;
      right:0;
    }

    &:after{
      top:auto;
      bottom:8.5px;
    }

    span {
      width: 20px;
      top:auto;
      bottom:0;
    }
  }
}