.servicecards {
  background: #f3f3f3;
  padding-top: 122px;

  &__inner {
    max-width: 1440px;
  }

  .servicecard {
    padding-bottom: 180px;
    position: relative;

    @include media-query(phone, max){
      padding-bottom: 90px;
    }

    &__image {
      width: 100%;
      max-width:1075px;
      height: 750px;
      position: relative;
      z-index: 1;

      @include media-query(phone, max){
        height: 400px;
      }

      &:after {
        content: '';
        @include fill();
        background: #c2c0c0;
        z-index: -1;
        left: 205px;
        width: calc(100% - 150px);
        height: calc(50% + 55px);
        top: 50%;

        @include media-query(phone, max){
          width: calc(100% - 175px);
          height: calc(50% + 25px);
        }
      }
    }

    &__content {
      position: absolute;
      top: 50%;
      right: 129px;
      transform: translateY(-50%);
      margin-top: -90px;
      padding: 66px;
      background: $white;
      z-index:1;
      width: 100%;
      max-width: 532px;
      box-sizing: border-box;

      @include media-query(desktop, max){
        right: 0px;
      }

      @include media-query(phone, max){
        padding: 30px;
        margin-top: -45px;
      }

      h2 {
        font-family: $secondaryfont;
        margin-bottom: 25px;
      }

      li {
        @include clearlist();
        width: 45%;
        font-size: 10px;
        line-height: 18px;
        font-weight: 500;
        margin-bottom: 5px;

        &:before {
          content: '+';
          margin-right: 14px;
          margin-left: 0;
          color: $black;
        }
      }
    }

    &:nth-child(even) {
      .servicecard__image {
        margin-left: auto;

        &:after {
          left: auto;
          right: 205px;
        }
      }

      .servicecard__content {
        right: auto;
        left: 129px;

        @include media-query(desktop, max){
          left: 0px;
        }
      }
    }
  }
}