/*#region Fonts*/

$primaryfont: 'HCo Gotham SSm', sans-serif;
$secondaryfont: 'Prata', serif;
$base: 16px;

/*#endregion*/

/*#region Colours */

$black: #021112;
$white: #FFF;
$grey: #c8c8cd;

$primary: #00AEEF;
$primary-alt: #231F20;
$secondary:#05b9a5;
$secondary-alt:#9e0000;

$ease: cubic-bezier(.21,.96,.59,.97);

/*#endregion*/

/*#region Media Queries*/

$breakpoints: (
    phone: 986px,
    tablet: 1124px,
    desktop: 1312px
);

/*#endregion*/